<li><a href="{% url 'account:profile' %}"><i class="uil uil-user me-2 d-inline-block"></i>프로필</a></li>
<li><a href="{% url 'proj:index' %}"><i class="uil uil-folder-network me-2 d-inline-block"></i>프로젝트</a></li>
<li><a href="{% url 'basicauth:index' %}"><i class="uil uil-keyhole-square me-2 d-inline-block"></i>기본 인증앱</a></li>
<li><a href="{% url 'basicapp:index' %}"><i class="uil uil-clapper-board me-2 d-inline-block"></i>기본 앱</a></li>
<li><a href="{% url 'layout:index' %}"><i class="uil uil-window-grid me-2 d-inline-block"></i>테마</a></li>
