<li><a href="{% url 'account:profile' %}"><i class="uil uil-user me-2 d-inline-block"></i>프로필</a></li>
<li><a href="{% url 'employee:index' %}"><i class="uil uil-users-alt me-2 d-inline-block"></i>임직원</a></li>
<li><a href="{% url 'education:index' %}"><i class="uil uil-university me-2 d-inline-block"></i>학교</a></li>
<li><a href="{% url 'history:index' %}"><i class="uil uil-align-justify me-2 d-inline-block"></i>경력</a></li>
<li><a href="{% url 'project:index' %}"><i class="uil uil-cell me-2 d-inline-block"></i>프로젝트</a></li>
<li><a href="{% url 'company:index' %}"><i class="uil uil-building me-2 d-inline-block"></i>고객</a></li>
<li><a href="{% url 'purchase:index' %}"><i class="uil uil-bill me-2 d-inline-block"></i>구매</a></li>
<li><a href="{% url 'bank:index' %}"><i class="uil uil-money-withdraw me-2 d-inline-block"></i>은행</a></li>
<li><a href="{% url 'card:index' %}"><i class="uil uil-credit-card me-2 d-inline-block"></i>카드</a></li>
